<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint name="ServisSimulator"
      address="net.tcp://localhost:8000/ISimulator"
      binding="netTcpBinding"
      contract="Common.ISimulator" />
      <endpoint name="ServisBaterija"
      address="net.tcp://localhost:8100/IBaterija"
      binding="netTcpBinding"
      contract="Common.IBaterija" />
      <endpoint name="ServisSolarniPanel"
      address="net.tcp://localhost:8200/ISolarniPanel"
      binding="netTcpBinding"
      contract="Common.ISolarniPanel" />
      <endpoint name="ServisPotrosac"
      address="net.tcp://localhost:8300/IPotrosac"
      binding="netTcpBinding"
      contract="Common.IPotrosac" />
      <endpoint name="ServisElektricniAutomobil"
      address="net.tcp://localhost:8400/IElektricniAutomobil"
      binding="netTcpBinding"
      contract="Common.IElektricniAutomobil" />
    </client>
  </system.serviceModel>
</configuration>