<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint name="ServisSimulator"
      address="net.tcp://localhost:8000/ISimulator"
      binding="netTcpBinding"
      contract="Common.ISimulator" />
    </client>
  </system.serviceModel>
</configuration>